{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">


    <h3>Projetos</h3>
    <div class="container">
        {% for projeto in projetos %}
            <div>
                <h2>{{ projeto.nome }}</h2>
                <p>{{ projeto.descricao }}</p>
            </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <form action="" method="POST">
                <p>Crie Projetos</p>
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Gravar" class="botao botao-sucesso">
            </form>

        {% endif %}
    </div>

{% endblock %}