@charset "UTF-8";


* {
  /* universal */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body > div:first-child {
  display: grid;
  grid-template-rows: 10vh 90vh;
}


html,
body {
  margin: 0;
}

.TextoMenu h1 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 4px 4px rgb(39, 39, 39);
  margin: 0;
  text-align: center;
}

.Cabecalho {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1;
}

.CabecalhoVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capitais {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 255, 172);
  padding: 50px;

}

.capitais>div {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(68, 68, 68);
  margin: 15px;
}

.capitais img {
  border-radius: 20px 0px 0px 20px;
  height: 100%;
}

.capitais div div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
}

.Dicas {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: whitesmoke;
  color: black;
  box-shadow: 2px 3px 3px lightgrey;
  flex-wrap: wrap;

}

.Dicas div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 24%;
  background-color: rgb(240, 255, 172);
  box-shadow: 5px 5px 15px rgb(68, 68, 68);
  padding: 10px 20px;
  width: 25%;
  height: 25%;
  margin: 3px;
  border-radius: 10px 10px 10px 10px;
}

.bottom-left h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  left: 5px;
  bottom: 5px;
  margin: 0
}


.parallax {
  background-image: url("https://images.unsplash.com/photo-1647476699575-a25db189e3b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  min-height: 500px;
  background-attachment: fixed;
  /* centrar e escalar imagem */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.parallax2 {
  background-image: url("https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
  min-height: 500px;
  background-attachment: fixed;
  /* centrar e escalar imagem */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
.parallax3 {
  background-image: url("https://images.unsplash.com/photo-1610123598195-eea6b6be4c48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  min-height: 500px;
  background-attachment: fixed;
  /* centrar e escalar imagem */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.animacoes {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 300px;
}

.animacoes > div {
  width: 100px;
  height: 100px;
}

.animacoes > div.anim1 {
  animation: mudarCor 3s ease infinite;
  transition: background-color 1s;
}

@keyframes mudarCor {
  0% {
    background-color: white;
  }
  50% {
    background-color: plum;
  }
  80% {
    background-color: purple;
  }
}

.animacoes > div.anim2 {

    animation-name: roda;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


@keyframes roda {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


.animacoes > div.anim3 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}



